* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/create.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    color: #fff;
    text-align: center;
    white-space: nowrap;
    font-size: 48px;
}

.form {
    max-width: 75%;
    margin: 50px auto;
}

input {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    border: linear-gradient(to right, #031f03, #0f9b0f);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border-width: 2px;
}

input:focus {
    border: solid #0f9b0f;
}


button {
    font-family: 'Inter', sans-serif;
    width: 100%;
    background-image: linear-gradient(to right, #031f03, #0f9b0f);
    background-size: 200% auto;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -4px;
    font-weight: 700;
    transition: 0.25s linear;
}

button:hover {
    background-position: right center;
}