body {
    font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/scan.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}